.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 10%;
  height: 500px;
  width: 500px;
  color: white;
}

.form input {
  margin: 8px;
  width: 80%;
  height: 15%;
  font-size: auto;
  color: black;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form input:disabled {
  background-color: yellow;
}

.form button {
  margin: 8px;
  display: flex;
  width: 80%;
  height: 30%;
  font-size: auto;
  color: white;
  background-color: purple;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
